---
import BaseLayout from "../layouts/BaseLayout.astro";
/*import BlogPost from "../components/blogpost.astro";*/
import BlogPostCard from "../components/blogpost_card.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey through <em>Astro</em>.</p>

    <ul>
		{allPosts.map((post: any) => <BlogPostCard blogTitle={post.frontmatter.title} blogDescription={post.frontmatter.description} blogDate={post.frontmatter.date} blogUrl={post.url} />)}
	</ul>
</BaseLayout>