---
import BaseLayout from "../layouts/BaseLayout.astro";
/*import BlogPost from "../components/blogpost.astro";*/
import BlogPostCard from "../components/blogpost_card.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog/Arcicles"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="blog-card-grid">
        {allPosts.map((post: any) => <BlogPostCard blogTitle={post.frontmatter.title} blogDescription={post.frontmatter.description} blogDate={post.frontmatter.pubDate} blogUrl={post.url} blogLang={post.frontmatter.lang} />)}
    </div>
</BaseLayout>