---
import BaseLayout from "./BaseLayout.astro";
import "../styles/blogpost.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} pageLang={frontmatter.lang}>
    <div class="post_header">
        <span lang={frontmatter.lang},class="post_author">
            {frontmatter.author}
        </span>
        <time datetime={frontmatter.pubDate},class="post_date">
            {frontmatter.pubDate.toString().slice(0,10)}
        </time>
        <p lang={frontmatter.lang}>
            <span class="post_description">
                <em>
                    {frontmatter.description}
                </em>
            </span>
        </p>
    </div>
    <hr />
    <article>
        <slot />
    </article>
</BaseLayout>